</div>


<div class="footer">

<div class="footer-elements">

    <a href="{{ app.url_generator.generate('ch-tell-others') }}" class="foot-elements">告訴其他人</a>
    <a href="{{ app.url_generator.generate('ch-link-to-us') }}" class="foot-elements">連結我們</a>
    <a href="{{ app.url_generator.generate('ch-petition-kit') }}" class="foot-elements">請願書</a>
    <a href="{{ app.url_generator.generate('ch-signatures') }}" class="foot-elements">觀看簽名</a>
    <a href="{{ app.url_generator.generate('ch-contact-us') }}" class="foot-elements">聯絡我們</a>   
</div>

</div>