</div>


<div class="footer">

<div class="footer-elements">

    <a href="{{ app.url_generator.generate('deu-tell-others') }}" class="foot-elements">Andern Weitersagen</a>
    <a href="{{ app.url_generator.generate('deu-link-to-us') }}" class="foot-elements">Verlinkung auf diese Webseite</a>
    <a href="{{ app.url_generator.generate('deu-petition-kit') }}" class="foot-elements">Petitions-Text</a>
    <a href="{{ app.url_generator.generate('deu-signatures') }}" class="foot-elements">Ansicht der Unterschriften</a>
    <a href="{{ app.url_generator.generate('deu-contact-us') }}" class="foot-elements">Kontaktiert Uns</a>   
</div>

</div>





