</div>


<div class="footer">

<div class="footer-elements">

    <a href="{{ app.url_generator.generate('hu-tell-others') }}" class="foot-elements">Add tovább</a>
    <a href="{{ app.url_generator.generate('hu-link-to-us') }}" class="foot-elements">Linkeld ezt az oldalt</a>
    <a href="{{ app.url_generator.generate('hu-petition-kit') }}" class="foot-elements">A petíció szövege</a>
    <a href="{{ app.url_generator.generate('hu-signatures') }}" class="foot-elements">Az aláírások</a>
    <a href="{{ app.url_generator.generate('hu-contact-us') }}" class="foot-elements">Kapcsolat</a>   
</div>

</div>