</div>


<div class="footer">

<div class="footer-elements">

    <a href="{{ app.url_generator.generate('it-tell-others') }}" class="foot-elements">Dillo ad Altri</a>
    <a href="{{ app.url_generator.generate('it-link-to-us') }}" class="foot-elements">Collega il tuo sito al nostro</a>
    <a href="{{ app.url_generator.generate('it-petition-kit') }}" class="foot-elements">Documenti per la Petizione</a>
    <a href="{{ app.url_generator.generate('it-signatures') }}" class="foot-elements">Le Firme</a>
    <a href="{{ app.url_generator.generate('it-contact-us') }}" class="foot-elements">Contattaci</a>   
</div>

</div>