</div>


<div class="footer">

<div class="footer-elements">

    <a href="{{ app.url_generator.generate('ned-tell-others') }}" class="foot-elements">Vertel aan anderen</a>
    <a href="{{ app.url_generator.generate('ned-link-to-us') }}" class="foot-elements">Maak verbinding met ons</a>
    <a href="{{ app.url_generator.generate('ned-petition-kit') }}" class="foot-elements">Petitie Kit</a>
    <a href="{{ app.url_generator.generate('ned-signatures') }}" class="foot-elements">Zie Handtekeningen</a>
    <a href="{{ app.url_generator.generate('ned-contact-us') }}" class="foot-elements">Contacteer ons</a>   
</div>

</div>