</div>


<div class="footer">

<div class="footer-elements">

    <a href="{{ app.url_generator.generate('por-tell-others') }}" class="foot-elements">Tell Others</a>
    <a href="{{ app.url_generator.generate('por-link-to-us') }}" class="foot-elements">Link to us</a>
    <a href="{{ app.url_generator.generate('por-petition-kit') }}" class="foot-elements">Petition Kit</a>
    <a href="{{ app.url_generator.generate('por-signatures') }}" class="foot-elements">View Signatures</a>
    <a href="{{ app.url_generator.generate('por-contact-us') }}" class="foot-elements">Contact us</a>   
</div>

</div>